/* src/styles/AttendanceManagement.css */
.attendance-management {
    color: #000000;
    background-color: #fbf8f8;
    padding: 20px;
    min-height: 100vh;
  }
  
  .map-container {
    margin-bottom: 20px;
    height: 400px;
  }
  
  .map {
    height: 100%;
    border-radius: 8px;
  }
  
  .employee-table-container {
    overflow-x: auto;
  }
  
  .employee-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .employee-table th,
  .employee-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #444;
  }
  
  .employee-table th {
    background-color: #faf4f4;
  }
  
  .employee-table tr:hover {
    background-color: #4653c5;
    color:white;
  }
  .map-container {
    height: 500px;
    width: 100%;
  }
  
  .map {
    height: 100%;
    width: 100%;
  }
  