.navbar {
    background-color: #227bf8;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .navbar-links a {
    color: rgb(18, 2, 77);
    text-decoration: none;
  }

