/* Sidebar.css */
.sidebar {
  width: 250px;
  background: linear-gradient(180deg, #f8f8f9, #f6f6f7); /* Gradient background */
  padding: 20px;
  height: 100vh; /* Full height to cover the viewport */
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(3, 47, 177, 0.6); /* Add shadow for depth */
  transition: background 0.3s ease; /* Smooth transition for background */
}

.sidebar-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar-header svg {
  fill: #00bcd4; /* Bright color for the SVG icon */
  margin-right: 10px;
  transition: fill 0.3s ease; /* Smooth transition for icon color */
}

.sidebar-header h1 {
  font-size: 22px;
  
  color: #e0e0e0; /* Light text color */
  transition: color 0.3s ease; /* Smooth transition for header color */
}

.sidebar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.sidebar-links li {
  margin: 10px 0;
}

.sidebar-links a {
  text-decoration: none;
  color: #170505; /* Light text color */
  font-weight: bold;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

.sidebar-links a:hover {
  color: #ffffff; /* Bright text color on hover */
  background: linear-gradient(180deg, #2f62ef, #1a4fe1);
}

/* Optional: Active link styling */
.sidebar-links a.active {
  background-color: #00bcd4; /* Highlight active link */
  color: #ffffff; /* Bright text color for active link */
}
